body{
    background-color: black;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header {
    height: 70px;
    width: 100%;
    position: fixed;
    z-index: 2; 
    top: 0;
    left: 0;
    background-color: #3d3d3d; 
    overflow-x: hidden; 
    overflow-y: hidden;
  }

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: 5%;
}

h1 a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.sidebar {
    top: 67px;
    left: 0;
    width: 20%;
    border-color: #3d3d3d;
    border-style: solid;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar .button{
    display: block;
    color: white;
    border-color: #3d3d3d;
    background-color:black;
    border-style: solid;
    text-decoration: none;
    margin: 10px;
    border-radius: 20px;
}

.sidebar .button-clicked{
    display: block;
    color: white;
    border-color: white;
    background-color:black;
    border-style: solid;
    text-decoration: none;
    margin: 10px;
    border-radius: 20px;
}

.sidebar .button p{
    padding-left: 20px;
}

.sidebar .button-clicked p{
    padding-left: 20px;
}

.post{
    position: relative;
    top: 71px;
    color: white;
    border-color: #3d3d3d;
    border-style: solid;
    text-decoration: none;
    border-radius: 20px;
    height: 400px;
    margin-bottom: 10px;
}

.posts{
    position: absolute;
    width: 30%;
    left: 20%;
    margin-left: 15px;
}


.post p{
    padding-left: 20px;
}

.post .title{
    color: white;
    border-color: #3d3d3d;
    border-style: solid;
    text-decoration: none;
    margin: -3px;
    border-radius: 20px;
}

.content{
    position: absolute;
    top: 70px;
    left: 20%;
    right: 5%;
    margin-left: 15px;
}

.content h1{
    font-size: 70px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-weight: 400;
}

.center {
    margin: auto;
    width: 90%;
    border: 3px solid #3b3b3b;
    padding: 10px;
}

th{
    color: white;
    font-size: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 15;
}

td{
    color: white;
    font-size: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

a:hover .post{
    border-color: white;
}
a:hover .post .title{
    border-color: white;
}

a:hover .button{
    background-color: #3d3d3d;
}

a:hover .button-clicked{
    background-color: #3d3d3d;
}

/* Style for links */
p a {
    text-decoration: none;
    color: white;
}
  
/* Style for hover links */
p a:hover {
    text-decoration: none;
}
  
/* Style for active links */
p a:active {
    color: red;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:active {
    background: grey;
}