body{
    background-color: black;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header {
    height: 70px;
    width: 100%;
    position: fixed;
    z-index: 2; 
    top: 0;
    left: 0;
    background-color: #3d3d3d; 
    overflow-x: hidden; 
    overflow-y: hidden;
  }

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: 5%;
}

h1 a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.sidebar {
    top: 68px;
    left: 0;
    width: 300px;
    border-color: #3d3d3d;
    border-style: solid;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar .option{
    display: block;
    color: white;
    border-color: #3d3d3d;
    border-style: solid;
    text-decoration: none;
    margin: 10px;
    border-radius: 20px;
}

.sidebar .button{
    display: block;
    color: white;
    background-color: #3d3d3d;
    border-color: ;
    border-style: solid;
    text-decoration: none;
    margin: 10px;
    border-radius: 20px;
}

.sidebar .button p{
    padding-left: 20px;
}

.sidebar .option .title{
    display: block;
    color: white;
    border-color: #3d3d3d;
    border-style: solid;
    text-decoration: none;
    margin: -2px;
    border-radius: 20px;
}

.sidebar .option .title p{
    font-weight: bold;
}


.sidebar .option p{
    padding-left: 20px;
}

.post{
    position: relative;
    top: 70px;
    left: 305px;
    width: 50%;
    color: white;
    border-color: #3d3d3d;
    border-style: solid;
    text-decoration: none;
    margin: 10px;
    border-radius: 20px;
    height: 400px;
}


.post p{
    padding-left: 20px;
}

.post .title{
    color: white;
    border-color: #3d3d3d;
    border-style: solid;
    text-decoration: none;
    margin: -2px;
    border-radius: 20px;
}


/* Style for links */
p a {
    text-decoration: none;
    color: white;
  }
  
  /* Style for visited links */
  p a:visited {
    color: purple;
  }
  
  /* Style for hover links */
  p a:hover {
    text-decoration: none;
  }
  
  /* Style for active links */
  p a:active {
    color: red;
  }
  

  